

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.header-main {
  display: flex;
  justify-content: space-between;
  padding: 30px 40px;
  background-color: #F5F5F5;
}

.app-logo {
  flex-basis: 200px;
  text-align: left;
  align-self: center;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.logo-icon{
  margin-right: 10px;
}

.profile {
  flex-basis: 200px;
  text-align: right;
  align-self: center;
  color: #666666;
}

input[type=text] {
  width:500px;
  padding: 12px 20px;
  display: inline-block;
  border: none;
  border-radius: 25px;
  box-sizing: border-box;
  background-color: #E6E6E6;
  font-family: 'Product Sans', sans-serif;
  font-size: 16px;
  color: #666666;
  transition: box-shadow .2s ease-in-out, background-color .2s ease-in-out;
  caret-color: #0082FF;
}

input:focus {
  background-color: #ffffff;
  box-shadow: 0px 2px 6px #DBDBDB;
}

.main-container {
  margin: 20px auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  width: 900px;
  border: solid 0px red;
}

.movie-poster {
  width: 140px;
  height: 210px;
  margin-bottom: 8px;
  border: solid 0px red;
  background-color: #E6E6E6;
  border-radius: 10px;
  box-shadow: 0px 1px 3px #b1b1b1;
}

.movie-poster img {
  width: 140px;
  height: 210px;
  border-radius: 10px;
}


.movie-tile {
  padding: 10px;
}
.genre-row-content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.tile-metadata {
  display: flex;
  flex-direction: row;
  margin-top: 2px;
  margin-left: 3px;
}
.dot-separator{
  margin-left: 7px;
  margin-right: 7px;
  color: #727272;
  font-weight: bold;
}
.movie-name {
  margin-left: 3px;
  width: 140px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.genre-row-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border: solid 0px red;
  padding: 0 15px;
}
.genre-row {
  border: solid 0px red;
  margin-bottom: 30px;
}

button {
  background: transparent;
  box-shadow: 0px 0px 0px transparent;
  border: 0px solid transparent;
  text-shadow: 0px 0px 0px transparent;
  cursor: pointer;
  color: #0082FF;
}

button:hover {
  background: transparent;
  box-shadow: 0px 0px 0px transparent;
  border: 0px solid transparent;
  text-shadow: 0px 0px 0px transparent;
  cursor: pointer;
  color: #0082FF;
}

button:active {
  outline: none;
  border: none;
  color: #0082FF;
}

button:focus {
  outline: 0;
  cursor: pointer;
  color: #0082FF;
}